@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.1rem 3.5rem 2.8rem;
    font-family: 'DM Serif Display', serif;
    font-size: 400;
}

.interior {
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(7.13496px);
}

.products,
.quotation {
    background: #faf4ef;
    border-radius: 0px 0px 0px 50px;
}

.bar {
    color: rgba(75, 75, 75, 0.5);
}

@media screen and (max-width: 768px) {
    body {
        padding: 1.2rem 1.8rem;
    }
}

@media screen and (max-width: 380px) {
    body {
        padding: 0.75rem;
    }
}
